.btn-col {
  color: #fff;
  content: "\e61d";
  text-align: center;
  display: inline-block;
  font-family: iconfont;
  font-feature-settings: normal;
  font-kerning: auto;
  font-language-override: normal;
  font-size: inherit;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-synthesis: weight style;
  font-variant: normal;
  font-weight: normal;
  text-rendering: auto;
}

.btn-xpy:before {
  content: "\e613";
  font-size: 20px;
  background-color: orange;
  padding: 1px 5px;
}

.btn-xpy {
  opacity: 0.9;
}

@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1498618412632'); /* IE9*/
  src: url('iconfont.eot?t=1498618412632#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1498618412632') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1498618412632') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1498618412632#iconfont') format('svg'); /* iOS 4.1- */
}

@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1499048320120'); /* IE9*/
  src: url('iconfont.eot?t=1499048320120#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1499048320120') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1499048320120') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1499048320120#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:22px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-02:before { content: "\e602"; }

.icon-iconfonttag:before { content: "\e63c"; }

.icon-erweima:before { content: "\e65f"; }

.icon-saoyisao:before { content: "\e664"; }

.icon-yonghutianchong:before { content: "\e6a2"; }

.icon-my:before { content: "\e607"; }

.icon-plus:before { content: "\e60b"; }

.icon-qunliao:before { content: "\e61d"; }

.icon-xiangji:before { content: "\e6fd"; }

.icon-pinglun:before { content: "\e659"; }

.icon-faxian:before { content: "\e60f"; }

.icon-sousuo:before { content: "\e60a"; }

.icon-xindepengyou:before { content: "\e613"; }

.icon-lianxiren:before { content: "\e685"; }

.icon-gengduo:before { content: "\e6c2"; }

.icon-ordinaryset:before { content: "\e50b"; }

.icon-qianbao:before { content: "\e643"; }

.icon-biaoqing:before { content: "\e69e"; }

.icon-liaotian:before { content: "\e606"; }

.icon-pengyouquan:before { content: "\e65c"; }

.icon-12:before { content: "\e504"; }

.icon-xiaochengxu:before { content: "\e50d"; }

.icon-gouwu:before { content: "\e60c"; }

.icon-fujinderen:before { content: "\e505"; }

.icon-youxi:before { content: "\e506"; }

.icon-yaoyiyao:before { content: "\e507"; }

.icon-xiangce:before { content: "\e509"; }

.icon-iconqiabao:before { content: "\e501"; }

.icon-saoyisao1:before { content: "\e79b"; }

.icon-weixinshoucang_IOS:before { content: "\e603"; }
